.cartRow {
  width: 1238px;
  margin: 0 auto;
}

.cartContainer {
  width: 1098px;
  margin: 30px 0;
}

.rightImage img {
  width: 160px;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  -webkit-box-shadow: -1px 3px 15px -2px #000000;
  box-shadow: -1px 3px 15px -2px #e2e2e2;
}

.rightContainer {
  display: flex;
}

.rightButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productDetails p {
  margin: 15px 0;
}

.forBtn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.rightContainer {
  padding: 10px;
}

.rightButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rightButtons button {
  padding: 7px;
  border: 1px solid var(--black);
  background-color: white;
  cursor: pointer;
}
