.parent {
  display: grid;
  width: 1238px;
  margin: 87px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 80px;
}
.div1 {
  background-color: blue;
}
