.cartContainer {
  position: absolute;
  background-color: white;
  padding: 4px;
  top: 68px;
  right: 18px;
  width: 325px;
  border: 1px solid black;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding: 7px;
}

.itemInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
  padding: 7px;
}

.itemInfo p {
  font-weight: 700;
}

.imagePreview img {
  height: 80px;
  object-fit: cover;
}

.itemDescription p {
  font-weight: 300;
  color: var(--black);
  margin: 5px 0;
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cartBtn {
  width: 28px;
  height: 28px;
  outline: none;
  margin-right: 7px;
}

.quantity button {
  width: 25px;
  height: 25px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total p {
  font-weight: 700;
  padding: 7px;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btns button {
  margin: 10px;
}

.btns button {
  width: 140px;
  height: 40px;
  outline: none;
  text-transform: uppercase;
}

.viewBtn {
  background: #ffffff;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.checkBtn {
  background: var(--primary-green);
  border: 0;
  cursor: pointer;
  color: white;
}
