.mainContainer {
  width: 1238px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1238px;
  padding: 20px 0;
  position: relative;
  z-index: 9999;
}

.list {
  display: flex;
  list-style: none;
}

.greenCart {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.active {
  background-color: var(--primary-green);
}

.links {
  margin-left: 20px;
  text-transform: uppercase;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  color: var(--primary-green);
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary-green);
}

.links a:checked {
  color: var(--black);
}

.links:first-child {
  margin: 0;
}

.cartContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.currency {
  margin-right: 20px;
  cursor: pointer;
}
